
  <button 
  class="btn btn-danger"
  mat-raised-button color="primary" (click)="removeAllRows()">
   Cancelar Compra
  </button>
  <mat-table class="scroll" #table [dataSource]="dataSource">

    <!-- Eliminate Column -->
   

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>
    
    
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
       Eleminate
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button 
        class="btn btn-danger"
        (click)="removeSelectedRows(row.position)" 
            >
            <i class="fas fa-trash"></i>
      </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>


<!-- <ng-container matColumnDef="options">
  <mat-header-cell class="celda" *matHeaderCellDef> Options </mat-header-cell>
  <mat-cell *matCellDef="let row">
   <button class="btn btn-danger" (click)="deleteMember(row.id)">Delete</button>
  </mat-cell>
</ng-container> -->