.full-width-table {
  width: 100%;
  overflow-y: scroll;
}
.celda{
  width: 39%;
}

.celda:last-child{
  padding-right: 0px;
    padding-left: 0px;
    margin-left: 3vw;
  
}
button.btn.btn-danger {
  margin-top: 0.3vw;
}
/* .border{
 
} */