

  <button 
  class="btn btn-danger"
  mat-raised-button color="primary" (click)="removeAllRows()">
   Cancelar Compra
  </button>
  <mat-table class="scroll" #table [dataSource]="dataSource">

    <!-- Eliminate Column -->
   

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}  </mat-cell>
    </ng-container>

    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <!-- costo Column -->
    <ng-container matColumnDef="costo">
      <mat-header-cell *matHeaderCellDef> Costo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.costo}} </mat-cell>
    </ng-container>

    <!-- medida Column -->
    <ng-container matColumnDef="medida">
      <mat-header-cell *matHeaderCellDef> Medida </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.medida}} </mat-cell>
    </ng-container>
    
    
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
       Eleminate
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button 
        class="btn btn-danger"
        (click)="removeSelectedRows(row.id)" 
            >
            <i class="fas fa-trash"></i>
      </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
   
  </mat-table>
 

<!-- <ng-container matColumnDef="options">
  <mat-header-cell class="celda" *matHeaderCellDef> Options </mat-header-cell>
  <mat-cell *matCellDef="let row">
   <button class="btn btn-danger" (click)="deleteMember(row.id)">Delete</button>
  </mat-cell>
</ng-container> -->