
        <div class="x_panel tile  overflow_hidden">
          <div class="x_title">
            <h2>Busqueda de productos</h2>
            
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <input
            [value]="searchValue"
            (keydown.enter)="codingSearch($event)"
            class="form-control" 
            type="text"
             placeholder="Código Producto">
            <br>
            <input 
            [value]="searchName"
            (keydown.enter)="nameSearch($event)"
            class="form-control" 
            type="text" 
            placeholder="Búsqueda por Nombre">
          </div>
        </div>
     