
        <div class="col-md-6 col-sm-6 col-xs-6  ">
               
                
          </div> 
<div class="col-md-3 col-sm-3 col-xs-3 order-last tile_stats_count">
        <span class="count_top"><i class="fa fa-money"></i> Total</span>
        <div class="count">7,325</div>
        
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 order-last tile_stats_count">
        <span class="count_top"> Acción</span>
        <div class="count green"><div><button (click)="setModal(true)"class="btn btn-primary btn-block">pagar</button></div></div>
      </div>
      <madapay 
      [modals]="modal" 
      id="modal" 
      class="x_panel"
       *ngIf="modal==true"
       (getModal)="getClose($event)"
       [@flyInout]></madapay>

